<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}}</title>
    <style>
        /* Define your header and footer styles here */
        .header {
            background-color: white;
            padding: 20px;
            text-align: center;
        }
        .footer {
            background-color: #ff6900;
            color: white;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="header">
    <img src="http://pkdev.coplsaas.com.au/edenmade/logo.png" alt="Logo">
</div>
<div class="body">
    {{{body}}}
</div>
<div class="footer">
    © Edenmade.io - All Rights Reserved.
</div>
</body>
</html>
